/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

/* Header */

header {
    background-color: bisque;
}

/* Header */

header {
    background-color: bisque;
}

/* footer */

footer {
    background-color: bisque;
}