/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

* body {
    height: 100vh;
    background: linear-gradient(135deg, #8052ec, #d161ff);
    font-family: 'Raleway', sans-serif;
  }

  /* CSS styles for navigation */

  body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }
  
  .topnav {
    position: relative;
    overflow: hidden;
    background-color: #333333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #333333;
    color: white;
  }
  
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }
  
  .topnav-right {
    float: right;
  }
  
  /* Responsive navigation menu (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
    
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }


  /** Content CSS styles */

  .welcome {
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px #333333;
    line-height: 85px;
    margin-left: 35%;
    color: #f2f2f2;
  }

  .letsplaybtn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #333333;
    color: #f2f2f2;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
  }

  .content {
    margin-top: 10%;
    margin-left: 5%;
    color: #f2f2f2;
    text-shadow: 1px 1px #333333;
  }

  .content h1 {
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
    text-shadow: 2px 2px #333333;
  }

h1 p {
    font-size: 20px;
    font-weight: 60;
    line-height: 30px;
    margin-bottom: 25px;
    text-shadow: 1px 1px #333333;
  }

/** CSS Styles for thank you page */

.thank-you {
  margin-top: 10%;
  margin-left: 5%;
  color: #f2f2f2;
  text-shadow: 1px 1px #333333;
}

.thank-you  h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 85px;
  margin-bottom: 25px;
  text-shadow: 2px 2px #333333;
}

.thank-you  h1 p {
  font-size: 20px;
  font-weight: 60;
  line-height: 30px;
  margin-bottom: 25px;
  text-shadow: 1px 1px #333333;
}

/* CSS styles for Tic Tac Toe board */

.play {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

html {
    font-size: 16px;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.button-option {
    background: #f2f2f2;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.button-option:hover {
  background-color: #d161ff;
}

#restart {
    font-size: 1.3em;
    margin-top: 1.5em;
    padding: 1em;
    border-radius: 8px;
    background-color: #333333;
    color: #f2f2f2;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
    box-shadow: 0 0 10px #f2f2f2;
}

.popup {
    background: linear-gradient(135deg, #8052ec, #d161ff);
    height: 94%;
    width: 90%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
}

#new-game {
    padding: 0.5em 1em;
    background-color: #333333;
    color: #f2f2f2;
    border-radius: 0.2em;
    border: none;
}

#message {
    color: #f2f2f2;
    text-align: center;
    font-size: 1em;
}

.popup.hide {
    display: none;
}


/* CSS styles for Turn container */

.align {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.turn-container{
width: 170px;
height: 80px;
margin-left: 10%;
margin-top: 10%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
position: relative;
}

.turn-container h3{
margin: 0;
text-align: center;
grid-column-start: 1;
grid-column-end: 3;
color: #f2f2f2;
}

.turn-container .turn-box{
border: 3px solid #f2f2f2;
font-size: 1.6rem;
font-weight: 700;
text-align: center;
}

.turn-container .turn-box:nth-child(even){
border-right: none;
}

.bg{
position: absolute;
bottom: 0;
left: 0;
width: 85px;
height: 40px;
background-color: #f2f2f2;;
z-index: -1;
}

/** CSS Styles for Form */

.contact {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.contact h2 {
  font-size: 20px;
  text-align: left;
  max-width: 700px;
  color: #f2f2f2;
  margin-bottom: 500px;
  margin-right: 200px;
}

.contact form {
  width: 600px;
  text-align: center;
}

form .input-box {
  display: flex;
  justify-content: space-between;
}

.input-box .input-field {
  width: 48.5%;
}
.field .item {
  width: 100%;
  padding: 18px;
  background: #333333;
  border: 2px solid #f2f2f2;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #f2f2f2;
  margin: 12px 0;
}

.field .item::placeholder {
  color: #f2f2f2;
}

.field .error-txt {
  font-size: 14.5px;
  color: #f2f2f2;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}

form .textarea-field .item {
  resize: none;
}


form button {
  font-size: 1.3em;
  margin-top: 1.5em;
  padding: 1em;
  border-radius: 8px;
  background-color: #333333;
  color: #f2f2f2;
  border: none;
  position: relative;
  margin: 1.5em auto 0 auto;
  display: block;
  box-shadow: 0 0 10px #f2f2f2;
  cursor: pointer;
}

/** CSS styles for Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6%;
  background-color: #333333;
  color: white;
  text-align: center;
}

#social-media {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-media i {
  font-size: 100%;
  padding: 5%;
  color: #f2f2f2;
}
